#paineis_sobre{
    margin-top: 20px;
    }
.depoimentos_titulo{
    background-color: blue;
    color:white;
    margin-bottom: 0;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.formulario{
    margin-top: 2em;
    display: block;
    text-align: center;
}
.contato-select,
.grupo-radio{
    width: 50%;
    display: inline-block;
    vertical-align: top;
}
.botao-enviar{
    display: block;
    text-align: center;
}